<!DOCTYPE html>
<html>
  <head>
    <title>Gwaphics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Gwaphics" />
    <meta property="og:image" content="https://i.imgur.com/QOrrvCm.jpg" />
    <meta property="og:description" content="An online graphical design tool for creating and sharing designs effortlessly, inspired by Canva" />
    <meta property="og:url" content="https://gwaphics.herokuapp.com/" />
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.splash = "<%= image_url('gwaphics-splash.svg') %>";
      window.logo = "<%= image_url('gwaphics-logo.svg') %>";
      window.circle = "<%= image_url('shapes/circle.svg#svg') %>";
      window.rectangle = "<%= image_url('shapes/rectangle.svg#svg') %>";
      window.triangle = "<%= image_url('shapes/triangle.svg#svg') %>";
      window.hexagon = "<%= image_url('shapes/hexagon.svg#svg') %>";
      window.pentagon = "<%= image_url('shapes/pentagon.svg#svg') %>";
      window.roundedSquare = "<%= image_url('shapes/rounded-square.svg#svg') %>";
      window.heart = "<%= image_url('shapes/heart.svg#svg') %>";
      window.star = "<%= image_url('shapes/star.svg#svg') %>";
      window.rightTriangle = "<%= image_url('shapes/right-triangle.svg#svg') %>";
      window.transparent = "<%= image_url('transparent.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>